In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
date_format = "%m/%d/%Y %H:%M:%S:%f"

In [29]:
df_raw = pd.read_excel('../datafiles/Insy6500_Project_Dataset_updated.xlsx')#raw data laoding
print(df_raw.head())
df_raw.info()

   Scan No.                timestamp  Resistor R1 40C  Resistor R1 60C  \
0         1  11/23/2024 00:15:48:669        104.40363        109.50066
1         2  11/23/2024 01:15:48:653        104.37421        109.44822
2         3  11/23/2024 02:15:48:653        104.37932        109.41880
3         4  11/23/2024 03:15:48:653        104.38828        109.41880
4         5  11/23/2024 04:15:48:653        104.39595        109.41752

   Resistor R1 85C  Resistor R1 125C  Resistor R2 85C  Resistor R2 125C  \
0        108.38533         104.59037        11.680190         10.020005
1        108.37254         104.51874        11.671119          9.469081
2        108.40708         104.48421        11.666136          9.570143
3        108.35463         104.49316        11.672141          9.740071
4        108.38149         104.51618        11.675208          9.832318

   Gain (Vout/Vin) 40C  Gain (Vout/Vin) 60C  Gain (Vout/Vin) 85C  \
0             1.645716             1.748604                 1.76
1             1.646289             1.742302                 1.70
2             1.647146             1.738339                 1.75
3             1.650871             1.735000                 1.66
4             1.678576             1.732703                 1.66

   Gain (Vout/Vin) 125C
0              1.754837
1              1.764511
2              1.749867
3              1.709196
4              1.642838
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5020 entries, 0 to 5019
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Scan No.              5020 non-null   int64
 1   timestamp             5020 non-null   object
 2   Resistor R1 40C       5020 non-null   float64
 3   Resistor R1 60C       5020 non-null   float64
 4   Resistor R1 85C       5020 non-null   float64
 5   Resistor R1 125C      5020 non-null   float64
 6   Resistor R2 85C       5020 non-null   float64
 7   Resistor R2 125C      5020 non-null   float64
 8   Gain (Vout/Vin) 40C   5020 non-null   float64
 9   Gain (Vout/Vin) 60C   5020 non-null   float64
 10  Gain (Vout/Vin) 85C   5020 non-null   float64
 11  Gain (Vout/Vin) 125C  5020 non-null   float64
dtypes: float64(10), int64(1), object(1)
memory usage: 470.8+ KB

In [30]:
df = pd.read_excel('../datafiles/Insy6500_Project_Dataset_updated.xlsx',parse_dates=["timestamp"],
    date_parser=lambda x: pd.to_datetime(x, format=date_format))#changing timestamp format to datetime
print(df.info())
df.tail()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5020 entries, 0 to 5019
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Scan No.              5020 non-null   int64
 1   timestamp             5020 non-null   datetime64[ns]
 2   Resistor R1 40C       5020 non-null   float64
 3   Resistor R1 60C       5020 non-null   float64
 4   Resistor R1 85C       5020 non-null   float64
 5   Resistor R1 125C      5020 non-null   float64
 6   Resistor R2 85C       5020 non-null   float64
 7   Resistor R2 125C      5020 non-null   float64
 8   Gain (Vout/Vin) 40C   5020 non-null   float64
 9   Gain (Vout/Vin) 60C   5020 non-null   float64
 10  Gain (Vout/Vin) 85C   5020 non-null   float64
 11  Gain (Vout/Vin) 125C  5020 non-null   float64
dtypes: datetime64[ns](1), float64(10), int64(1)
memory usage: 470.8 KB
None

C:\Users\HP\AppData\Local\Temp\ipykernel_15532\2374695675.py:1: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  df = pd.read_excel('../datafiles/Insy6500_Project_Dataset_updated.xlsx',parse_dates=["timestamp"],

,Scan No.,timestamp,Resistor R1 40C,Resistor R1 60C,Resistor R1 85C,Resistor R1 125C,Resistor R2 85C,Resistor R2 125C,Gain (Vout/Vin) 40C,Gain (Vout/Vin) 60C,Gain (Vout/Vin) 85C,Gain (Vout/Vin) 125C
5015,5016,2025-06-19 23:15:48.474,108.96858,121.24871,114.11291,106.27362,14.310244,15.927885,1.781563,1.722542,1.84,1.781563
5016,5017,2025-06-20 00:15:48.474,108.96218,121.16813,113.97349,106.26979,14.304878,15.920986,1.782573,1.682996,1.84,1.782573
5017,5018,2025-06-20 01:15:48.474,108.96858,121.22057,114.08093,106.29537,14.302195,15.919325,1.783016,1.678975,1.84,1.783016
5018,5019,2025-06-20 02:15:48.474,108.97113,121.44313,113.73559,106.27490,14.303728,15.916897,1.768133,1.680425,1.86,1.768133
5019,5020,2025-06-20 03:15:48.474,108.98009,120.99802,113.86605,106.28258,14.308967,15.924691,1.745204,1.689703,1.82,1.745204

In [31]:
df.columns = ['Scan_no','timstamp','R1_40C','R1_60C','R1_85C','R1_125C','R2_85C','R2_125C','Gain_40C','Gain_60C','Gain_85C','Gain_125C']#column name changing for easier notation
df.head()

,Scan_no,timstamp,R1_40C,R1_60C,R1_85C,R1_125C,R2_85C,R2_125C,Gain_40C,Gain_60C,Gain_85C,Gain_125C
0,1,2024-11-23 00:15:48.669,104.40363,109.50066,108.38533,104.59037,11.680190,10.020005,1.645716,1.748604,1.76,1.754837
1,2,2024-11-23 01:15:48.653,104.37421,109.44822,108.37254,104.51874,11.671119,9.469081,1.646289,1.742302,1.70,1.764511
2,3,2024-11-23 02:15:48.653,104.37932,109.41880,108.40708,104.48421,11.666136,9.570143,1.647146,1.738339,1.75,1.749867
3,4,2024-11-23 03:15:48.653,104.38828,109.41880,108.35463,104.49316,11.672141,9.740071,1.650871,1.735000,1.66,1.709196
4,5,2024-11-23 04:15:48.653,104.39595,109.41752,108.38149,104.51618,11.675208,9.832318,1.678576,1.732703,1.66,1.642838

In [34]:
df['Theoretical_Gain_85C'] = df['R1_85C']/(5*df['R2_85C'])#for a circuit one can measure the theoretical gain. Vout/Vin this is basically experimental gain. And for this particular circuit theoretical gain is (R1/5R2).
df['Theoretical_Gain_125C'] = df['R1_125C']/(5*df['R2_125C'])
df.head()

,Scan_no,timstamp,R1_40C,R1_60C,R1_85C,R1_125C,R2_85C,R2_125C,Gain_40C,Gain_60C,Gain_85C,Gain_125C,Theoretical_Gain_85C,Theoretical_Gain_125C
0,1,2024-11-23 00:15:48.669,104.40363,109.50066,108.38533,104.59037,11.680190,10.020005,1.645716,1.748604,1.76,1.754837,1.855883,2.087631
1,2,2024-11-23 01:15:48.653,104.37421,109.44822,108.37254,104.51874,11.671119,9.469081,1.646289,1.742302,1.70,1.764511,1.857106,2.207579
2,3,2024-11-23 02:15:48.653,104.37932,109.41880,108.40708,104.48421,11.666136,9.570143,1.647146,1.738339,1.75,1.749867,1.858492,2.183545
3,4,2024-11-23 03:15:48.653,104.38828,109.41880,108.35463,104.49316,11.672141,9.740071,1.650871,1.735000,1.66,1.709196,1.856637,2.145634
4,5,2024-11-23 04:15:48.653,104.39595,109.41752,108.38149,104.51618,11.675208,9.832318,1.678576,1.732703,1.66,1.642838,1.856609,2.125972

In [36]:
# % Error in experimental gain with respect to theoretical gain
df['Error_85C'] = abs((df['Gain_85C']-df['Theoretical_Gain_85C'])*100/df['Theoretical_Gain_85C'])
df['Error_125C'] = abs((df['Gain_125C']-df['Theoretical_Gain_125C'])*100/df['Theoretical_Gain_125C'])
df.head()

,Scan_no,timstamp,R1_40C,R1_60C,R1_85C,R1_125C,R2_85C,R2_125C,Gain_40C,Gain_60C,Gain_85C,Gain_125C,Theoretical_Gain_85C,Theoretical_Gain_125C,Error_85C,Error_125C
0,1,2024-11-23 00:15:48.669,104.40363,109.50066,108.38533,104.59037,11.680190,10.020005,1.645716,1.748604,1.76,1.754837,1.855883,2.087631,5.166435,15.941234
1,2,2024-11-23 01:15:48.653,104.37421,109.44822,108.37254,104.51874,11.671119,9.469081,1.646289,1.742302,1.70,1.764511,1.857106,2.207579,8.459734,20.070322
2,3,2024-11-23 02:15:48.653,104.37932,109.41880,108.40708,104.48421,11.666136,9.570143,1.647146,1.738339,1.75,1.749867,1.858492,2.183545,5.837617,19.861182
3,4,2024-11-23 03:15:48.653,104.38828,109.41880,108.35463,104.49316,11.672141,9.740071,1.650871,1.735000,1.66,1.709196,1.856637,2.145634,10.591019,20.340759
4,5,2024-11-23 04:15:48.653,104.39595,109.41752,108.38149,104.51618,11.675208,9.832318,1.678576,1.732703,1.66,1.642838,1.856609,2.125972,10.589690,22.725352

In [51]:
#Pass fail criteria for resistances
#The pass fail criteria comes from daisy chain criterion which says any component is failed if it changes its value by +-20% from the initial value.
r1_40c= df.loc[0,'R1_40C']
r1_60c = df.loc[0, 'R1_60C']
r1_85c = df.loc[0, 'R1_85C']
r1_125c = df.loc[0, 'R1_125C']
r2_85c = df.loc[0, 'R2_85C']
r2_125c = df.loc[0, 'R2_125C']
lower_r1_40c = 0.8*r1_40c
lower_r1_60c = 0.8*r1_60c
lower_r1_85c = 0.8*r1_85c
lower_r1_125c = 0.8*r1_125c
lower_r2_85c = 0.8*r2_85c
lower_r2_125c = 0.8*r2_125c
upper_r1_40c = 1.2*r1_40c
upper_r1_60c = 1.2*r1_60c
upper_r1_85c = 1.2*r1_85c
upper_r1_125c = 1.2*r1_125c
upper_r2_85c = 1.2*r2_85c
upper_r2_125c = 1.2*r2_125c
df['Passed_R1_40C'] = (df['R1_40C'] >= lower_r1_40c) & (df['R1_40C'] <= upper_r1_40c)
df['Passed_R1_60C'] = (df['R1_60C'] >= lower_r1_60c) & (df['R1_60C'] <= upper_r1_60c)
df['Passed_R1_85C'] = (df['R1_85C'] >= lower_r1_85c) & (df['R1_85C'] <= upper_r1_85c)
df['Passed_R1_125C'] = (df['R1_125C'] >= lower_r1_125c) & (df['R1_125C'] <= upper_r1_125c)
df['Passed_R2_85C'] = (df['R2_85C'] >= lower_r2_85c) & (df['R2_85C'] <= upper_r2_85c)
df['Passed_R2_125C'] = (df['R2_125C'] >= lower_r2_125c) & (df['R2_125C'] <= upper_r2_125c)
df.head()

,Scan_no,timstamp,R1_40C,R1_60C,R1_85C,R1_125C,R2_85C,R2_125C,Gain_40C,Gain_60C,...,Theoretical_Gain_85C,Theoretical_Gain_125C,Error_85C,Error_125C,Passed_R1_40C,Passed_R1_60C,Passed_R1_85C,Passed_R1_125C,Passed_R2_85C,Passed_R2_125C
0,1,2024-11-23 00:15:48.669,104.40363,109.50066,108.38533,104.59037,11.680190,10.020005,1.645716,1.748604,...,1.855883,2.087631,5.166435,15.941234,True,True,True,True,True,True
1,2,2024-11-23 01:15:48.653,104.37421,109.44822,108.37254,104.51874,11.671119,9.469081,1.646289,1.742302,...,1.857106,2.207579,8.459734,20.070322,True,True,True,True,True,True
2,3,2024-11-23 02:15:48.653,104.37932,109.41880,108.40708,104.48421,11.666136,9.570143,1.647146,1.738339,...,1.858492,2.183545,5.837617,19.861182,True,True,True,True,True,True
3,4,2024-11-23 03:15:48.653,104.38828,109.41880,108.35463,104.49316,11.672141,9.740071,1.650871,1.735000,...,1.856637,2.145634,10.591019,20.340759,True,True,True,True,True,True
4,5,2024-11-23 04:15:48.653,104.39595,109.41752,108.38149,104.51618,11.675208,9.832318,1.678576,1.732703,...,1.856609,2.125972,10.589690,22.725352,True,True,True,True,True,True

In [56]:
#Pass fail criteria for Gain using the same daisy chain criterion
#Gain is more like circuit level property i.e. if gain is on the failed region, circuit is failed and resistance is component level property. So even if a component fails, circuit may still be functional becuase it depends on many more components.
gain_40c= df.loc[0,'Gain_40C']
gain_60c = df.loc[0, 'Gain_60C']
gain_85c = df.loc[0, 'Gain_85C']
gain_125c = df.loc[0, 'Gain_125C']
lower_gain_40c = 0.8*gain_40c
lower_gain_60c = 0.8*gain_60c
lower_gain_85c = 0.8*gain_85c
lower_gain_125c = 0.8*gain_125c
upper_gain_40c = 1.2*gain_40c
upper_gain_60c = 1.2*gain_60c
upper_gain_85c = 1.2*gain_85c
upper_gain_125c = 1.2*gain_125c
df['Passed_Gain_40C'] = (df['Gain_40C'] >= lower_gain_40c) & (df['Gain_40C'] <= upper_gain_40c)
df['Passed_Gain_60C'] = (df['Gain_60C'] >= lower_gain_60c) & (df['Gain_60C'] <= upper_gain_60c)
df['Passed_Gain_85C'] = (df['Gain_85C'] >= lower_gain_85c) & (df['Gain_85C'] <= upper_gain_85c)
df['Passed_Gain_125C'] = (df['Gain_125C'] >= lower_gain_125c) & (df['Gain_125C'] <= upper_gain_125c)
df.head(n=20)

,Scan_no,timstamp,R1_40C,R1_60C,R1_85C,R1_125C,R2_85C,R2_125C,Gain_40C,Gain_60C,...,Passed_R1_40C,Passed_R1_60C,Passed_R1_85C,Passed_R1_125C,Passed_R2_85C,Passed_R2_125C,Passed_Gain_40C,Passed_Gain_60C,Passed_Gain_85C,Passed_Gain_125C
0,1,2024-11-23 00:15:48.669,104.40363,109.50066,108.38533,104.59037,11.680190,10.020005,1.645716,1.748604,...,True,True,True,True,True,True,True,True,True,True
1,2,2024-11-23 01:15:48.653,104.37421,109.44822,108.37254,104.51874,11.671119,9.469081,1.646289,1.742302,...,True,True,True,True,True,True,True,True,True,True
2,3,2024-11-23 02:15:48.653,104.37932,109.41880,108.40708,104.48421,11.666136,9.570143,1.647146,1.738339,...,True,True,True,True,True,True,True,True,True,True
3,4,2024-11-23 03:15:48.653,104.38828,109.41880,108.35463,104.49316,11.672141,9.740071,1.650871,1.735000,...,True,True,True,True,True,True,True,True,True,True
4,5,2024-11-23 04:15:48.653,104.39595,109.41752,108.38149,104.51618,11.675208,9.832318,1.678576,1.732703,...,True,True,True,True,True,True,True,True,True,True
5,6,2024-11-23 05:15:48.653,104.39212,109.40729,108.34952,104.50979,11.675974,10.067534,1.672445,1.730565,...,True,True,True,True,True,True,True,True,True,True
6,7,2024-11-23 06:15:48.653,104.38316,109.40985,108.33929,104.48037,11.667542,9.591991,1.659664,1.728559,...,True,True,True,True,True,True,True,True,True,True
7,8,2024-11-23 07:15:48.653,104.38060,109.37148,108.35208,104.48293,11.666775,10.214847,1.657073,1.726247,...,True,True,True,True,True,True,True,True,True,True
8,9,2024-11-23 08:15:48.653,104.37805,109.37787,108.33545,104.51490,11.667542,9.815708,1.650458,1.724071,...,True,True,True,True,True,True,True,True,True,True
9,10,2024-11-23 09:15:48.653,104.38316,109.37403,108.36998,104.47909,11.670991,9.711196,1.652670,1.722227,...,True,True,True,True,True,True,True,True,True,True
10,11,2024-11-23 10:15:48.653,104.39979,109.37787,108.36359,104.45735,11.675080,9.653957,1.695881,1.720859,...,True,True,True,True,True,True,True,True,True,False
11,12,2024-11-23 11:15:48.653,104.39723,109.37148,108.34952,104.50723,11.676741,9.489268,1.675009,1.718600,...,True,True,True,True,True,True,True,True,True,True
12,13,2024-11-23 12:15:48.653,104.39212,109.37403,108.32650,104.53921,11.677380,9.826824,1.659718,1.716630,...,True,True,True,True,True,True,True,True,True,True
13,14,2024-11-23 13:15:48.653,104.39467,109.36380,108.34440,104.53537,11.679296,9.910893,1.659515,1.714780,...,True,True,True,True,True,True,True,True,True,True
14,15,2024-11-23 14:15:48.653,104.39084,109.36892,108.34568,104.52002,11.679424,9.772268,1.665087,1.713219,...,True,True,True,True,True,True,True,True,True,True
15,16,2024-11-23 15:15:48.653,104.39084,109.34973,108.32394,104.49572,11.680574,10.012467,1.668141,1.711844,...,True,True,True,True,True,True,True,True,True,True
16,17,2024-11-23 16:15:48.653,104.39979,109.36508,108.33673,104.46758,11.679552,10.116340,1.695325,1.710441,...,True,True,True,True,True,True,True,True,True,True
17,18,2024-11-23 17:15:48.653,104.39212,109.34845,108.33801,104.46374,11.680063,10.201943,1.672749,1.708865,...,True,True,True,True,True,True,True,True,True,True
18,19,2024-11-23 18:15:48.653,104.38956,109.34845,108.32522,104.47142,11.679935,10.078777,1.671676,1.707587,...,True,True,True,True,True,True,True,True,True,True
19,20,2024-11-23 19:15:48.653,104.37421,109.35485,108.34312,104.46246,11.673930,9.639520,1.671388,1.706364,...,True,True,True,True,True,True,True,True,True,True

In [58]:
#degradation rate for every hour. This code basically shows the every hour resistance and gain degradation.
df['DegradationRate_R1_40C']= abs(df['R1_40C'].diff())
df['DegradationRate_R1_60C']= abs(df['R1_60C'].diff())
df['DegradationRate_R1_85C']= abs(df['R1_85C'].diff())
df['DegradationRate_R1_125C']= abs(df['R1_125C'].diff())
df['DegradationRate_R2_85C']= abs(df['R2_85C'].diff())
df['DegradationRate_R2_125C']= abs(df['R2_125C'].diff())
df['DegradationRate_Gain_40C']= abs(df['Gain_40C'].diff())
df['DegradationRate_Gain_60C']= abs(df['Gain_60C'].diff())
df['DegradationRate_Gain_85C']= abs(df['Gain_85C'].diff())
df['DegradationRate_Gain_125C']= abs(df['Gain_125C'].diff())
df.head()

,Scan_no,timstamp,R1_40C,R1_60C,R1_85C,R1_125C,R2_85C,R2_125C,Gain_40C,Gain_60C,...,DegradationRate_R1_40C,DegradationRate_R1_60C,DegradationRate_R1_85C,DegradationRate_R1_125C,DegradationRate_R2_85C,DegradationRate_R2_125C,DegradationRate_Gain_40C,DegradationRate_Gain_60C,DegradationRate_Gain_85C,DegradationRate_Gain_125C
0,1,2024-11-23 00:15:48.669,104.40363,109.50066,108.38533,104.59037,11.680190,10.020005,1.645716,1.748604,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,2024-11-23 01:15:48.653,104.37421,109.44822,108.37254,104.51874,11.671119,9.469081,1.646289,1.742302,...,0.02942,0.05244,0.01279,0.07163,0.009071,0.550924,0.000573,0.006302,0.06,0.009674
2,3,2024-11-23 02:15:48.653,104.37932,109.41880,108.40708,104.48421,11.666136,9.570143,1.647146,1.738339,...,0.00511,0.02942,0.03454,0.03453,0.004983,0.101062,0.000857,0.003962,0.05,0.014644
3,4,2024-11-23 03:15:48.653,104.38828,109.41880,108.35463,104.49316,11.672141,9.740071,1.650871,1.735000,...,0.00896,0.00000,0.05245,0.00895,0.006005,0.169928,0.003725,0.003340,0.09,0.040671
4,5,2024-11-23 04:15:48.653,104.39595,109.41752,108.38149,104.51618,11.675208,9.832318,1.678576,1.732703,...,0.00767,0.00128,0.02686,0.02302,0.003067,0.092247,0.027706,0.002296,0.00,0.066358

In [67]:
#Activation energy calculation for resistance R1
#Using activation energy we can develop acceleration factor model which will eventually give an estimation for failure analysis.
#For this dataset, it is for sustained high temperature analysis which means circuit performance has been monitored at certain temperature for longer period of time.
#The acceleration factor model for this is ln(Xt/X0) = nlnt -Ea/K(1/T1-1/T2) where Xt is the circuit parameter values at different aging times, X0 is the hour 0 value, t is the aging time, n is time constant, Ea is activation energy, K is boltzman constant, T is aging temperature.
#Acceleration Factor model, AF = t^n.e-Ea/k(1/T1-1/T2)
#First calculation of n
df['ln(R1/R0)_40C'] = np.log(df['R1_40C']/r1_40c)
df['ln(R1/R0)_60C'] = np.log(df['R1_60C']/r1_60c)
df['ln(R1/R0)_85C'] = np.log(df['R1_85C']/r1_85c)
df['ln(R1/R0)_125C'] = np.log(df['R1_125C']/r1_125c)
df['Combined_ln(R1/R0)'] =df[['ln(R1/R0)_40C','ln(R1/R0)_60C','ln(R1/R0)_85C','ln(R1/R0)_125C']].mean(axis=1)
n, intercept = np.polyfit((df['Scan_no']-1), df['Combined_ln(R1/R0)'], 1)#here scan_no can be considered as hour and scan 1 is basically hour 0 and time constant 'n' should be same for all the temperatures based on the model
print(f"The time constant for R1 resistance is {n}\n")
#Activation energy calculation. This can be done at different time interval. I will do it for the first 1000 hour interval. For  that we need kelvin temperature. Temprature varied from 40C to 125C.
T1=40+273
T2=60+273
T3=85+273
T4=125+273
x=[1/T1,1/T2,1/T3,1/T4]
y=[(df.loc[1000,'ln(R1/R0)_40C']),(df.loc[1000,'ln(R1/R0)_60C']),(df.loc[1000,'ln(R1/R0)_85C']),(df.loc[1000,'ln(R1/R0)_125C'])]
slope, _ = np.polyfit(x,y,1)
k= 8.617333262e-5 #Boltzman constant in eV
Ea = -slope*k #activation energy
print(f"Activation energy for the R1 resistor is {Ea} eV")
from IPython.display import display, Math
print("So the acceleration factor model for R1 resistor is")
display(Math(rf'AF = t^{{{n}}} \cdot e^{{-{Ea}/k \cdot (1/T_1 - 1/T_2)}}'))

The time constant for R1 resistance is -5.860776235581531e-06

Activation energy for the R1 resistor is 0.0006371197523059912 eV
So the acceleration factor model for R1 resistor is

In [68]:
#Activation energy calculation for resistance Gain
#Using activation energy we can develop acceleration factor model which will eventually give an estimation for failure analysis.
#For this dataset, it is for sustained high temperature analysis which means circuit performance has been monitored at certain temperature for longer period of time.
#The acceleration factor model for this is ln(Xt/X0) = nlnt -Ea/K(1/T1-1/T2) where Xt is the circuit parameter values at different aging times, X0 is the hour 0 value, t is the aging time, n is time constant, Ea is activation energy, K is boltzman constant, T is aging temperature.
#Acceleration Factor model, AF = t^n.e-Ea/k(1/T1-1/T2)
#First calculation of n
df['ln(Gain/Gain0)_40C'] = np.log(df['Gain_40C']/gain_40c)
df['ln(Gain/Gain0)_60C'] = np.log(df['Gain_60C']/gain_60c)
df['ln(Gain/Gain0)_85C'] = np.log(df['Gain_85C']/gain_85c)
df['ln(Gain/Gain0)_125C'] = np.log(df['Gain_125C']/gain_125c)
df['Combined_ln(Gain/Gain0)'] =df[['ln(Gain/Gain0)_40C','ln(Gain/Gain0)_60C','ln(Gain/Gain0)_85C','ln(Gain/Gain0)_125C']].mean(axis=1)
n1, intercept = np.polyfit((df['Scan_no']-1), df['Combined_ln(Gain/Gain0)'], 1)#here scan_no can be considered as hour and scan 1 is basically hour 0 and time constant 'n' should be same for all the temperatures based on the model
print(f"The time constant for R1 resistance is {n1}\n")
#Activation energy calculation. This can be done at different time interval. I will do it for every 1000 hour interval. For  that we need kelvin temperature. Temprature varied from 40C to 125C.
T1=40+273
T2=60+273
T3=85+273
T4=125+273
x1=[1/T1,1/T2,1/T3,1/T4]
y1=[(df.loc[1000,'ln(Gain/Gain0)_40C']),(df.loc[1000,'ln(Gain/Gain0)_60C']),(df.loc[1000,'ln(Gain/Gain0)_85C']),(df.loc[1000,'ln(Gain/Gain0)_125C'])]
slope1, _ = np.polyfit(x1,y1,1)
k= 8.617333262e-5 #Boltzman constant in eV
Ea1 = -slope1*k #activation energy
print(f"Activation energy for the Gain is {Ea1} eV")
from IPython.display import display, Math
print("So the acceleration factor model for Gain is")
display(Math(rf'AF = t^{{{n1}}} \cdot e^{{-{Ea1}/k \cdot (1/T_1 - 1/T_2)}}'))

The time constant for R1 resistance is 5.266877888462796e-06

Activation energy for the Gain is -0.0062289838460598684 eV
So the acceleration factor model for Gain is

H:\Anaconda\envs\insy6500\Lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)